# langchain
# langgraph
# langchain_community
# langchain_core
# langchain_groq
# fastapi
# uvicorn
# watchdog
# langgraph-cli[inmem]

langchain
langchain-core
langchain-community
langchain-text-splitters
langgraph
faiss-cpu
sentence-transformers
transformers
huggingface-hub

pydantic
python-dotenv

groq
tiktoken

numpy
scikit-learn

uvicorn
fastapi

# Optional but recommended
rich

